<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="DBConnectionLocal" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-PGG8FKM6\SQLEXPRESS; initial catalog=SHPOTDB;persist security info=True;Integrated Security=true; MultipleActiveResultSets=True; App=EntityFramework" />
    <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="data source=sql6004.site4now.net; initial catalog=DB_A409E4_SHPOTDB;User Id=DB_A409E4_SHPOTDB_admin;Password=DBadmin1@4;persist security info=True; MultipleActiveResultSets=True; App=EntityFramework" />
  </connectionStrings>

</configuration>
