<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="DBConnectionLocal" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-PGG8FKM6\SQLEXPRESS; initial catalog=SHPOTDB;persist security info=True;Integrated Security=true; MultipleActiveResultSets=True; App=EntityFramework" />
    <add name="DBConnection" providerName="System.Data.SqlClient" connectionString="data source=sql6004.site4now.net; initial catalog=DB_A409E4_SHPOTDB;User Id=DB_A409E4_SHPOTDB_admin;Password=DBadmin1@4;persist security info=True; MultipleActiveResultSets=True; App=EntityFramework" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulbehavior">
          <webHttp defaultBodyStyle="WrappedRequest" automaticFormatSelectionEnabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="myBinding" maxReceivedMessageSize="500000" />
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="SHPOTApp.API">
        <endpoint address="" behaviorConfiguration="restfulbehavior" binding="webHttpBinding" name="RESTEndpoint" contract="SHPOTApp.IAPI" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>